html,button,input,select,textarea{
	.font-primary;
}
body{
	font-size:16px;
	line-height:1.4;
	text-align:center;
	color:@color-primary;
	background: #e9e2d6;
}
a{
	color: @color-link;
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 20px 0;
	line-height: 1.2;
}
h1{
	.font-header;
	font-size:36px;
	color: @color-link;
	font-weight: 900;
}
h2{
	.font-header;
	font-size:22px;
	font-weight: 900;
}
h3{
	.font-header;
	font-size:20px;
	color: @color-link;
	font-weight: 900;
}
h4{
	font-size:14px;
}
p{
	margin:0 0 20px 0;
}
ul,ol{
	padding:0;
	margin:0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom:0;
}
ul li{
	position:relative;
	list-style-type:none;
	padding:0 0 0 20px;
	margin:0;
	&:before{
		position:absolute;
		top:5px;
		left:0;
		font-size: 14px;
		line-height: 1;
		content:'\e00a';
		.font-icon;
	}
	ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	li{
		margin:0 0 0 20px;
	}
	ol{
		padding: 10px 0;
	}
}
hr{
	margin:0 0 20px 0;
	border:0;
	border-top:1px solid lighten(@color-primary,80%);
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align:baseline;
	font-size:60%;
	line-height:1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	cursor:pointer;
	&:hover{
		text-decoration:none;
	}
}
